.places {
    text-align: center;
}

.places article {
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    width: 390px;
    padding: 20px;
    margin: 20px;
    display: inline-table;
}

.places h1 {
    font-size: 30px;
    text-align: left;
}

.places h2 {
    font-size: 30px;
    text-align: center;
}

.price_tag {
    position: relative;
    top: -14px;
}

.price_by_night {
    color: #ff5a5f;
    border: 4px solid #ff5a5f;
    border-radius: 100px;
    min-width: 60px;
    height: 60px;
    position: relative;
    float: right;
    top: -80px;
}

.information {
    height: 80px;
    border-top: solid #dddddd 1px;
    border-bottom: solid #dddddd 1px;
}

div.max_guest,
div.number_rooms,
div.number_bathrooms {
    line-height: 140px;
    width: 100px;
    height: 100%;
    display: inline-block;
    background-position: 50% 5px;
    background-repeat: no-repeat;
}

.max_guest {
    background-image: url("../images/icon_group.png");
}

.number_rooms {
    background-image: url("../images/icon_bed.png");
}

.number_bathrooms {
    background-image: url("../images/icon_bath.png");
}

.description,
.user {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.places .amenities {
    margin-top: 40px;
}

.places .amenities h2 {
    border-bottom: 1px solid #dddddd;
    font-size: 16px;
    text-align: left;
}

.icon-list {
    list-style-type: none;
    padding: 0;
}

.icon-item {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    padding-left: 50px;
    line-height: 30px;
    margin-bottom: 10px;
}

.pets {
    background-image: url(../images/icon_pets.png);
}

.wifi {
    background-image: url(../images/icon_tv.png);
}

.tv {
    background-image: url(../images/icon_wifi.png);
}

.reviews {
    margin-top: 40px;
    text-align: left;
    width: 100%;
}

.reviews h2 {
    border-bottom: 1px solid #DDDDDD;
    font-size: 16px;
    text-align: left;
}

.reviews ul {
    list-style-type: none;
    font-size: 14px;
    padding: 0;
}

.reviews li {
    font-size: 12px;
    padding: 0;
    margin-top: -15px;
}
