section.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

section.filters button {
    background-color: #FF5A5F;
    font-size: 18px;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    float: right;
    border-radius: 4px;
    margin: 11px 30px;
}

section.filters button:hover {
    opacity: 0.9;
}

.filters .locations,
.filters .amenities {
    height: 100%;
    width: 25%;
    float: left;
}

.filters .locations {
    border-right: 1px solid #DDDDDD;
}

.filters .locations h3,
.filters .amenities h3 {
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 30px;
    text-align: left;
}

.filters .locations h4,
.filters .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
    text-align: left;
}

.popover {
    display: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    z-index: 1;
}

.popover h2 {
    font-size: 16px;
    margin: 0%;
    margin-top: 10px;
}

.popover li {
    list-style-type: none;
    
}

.filters .locations:hover .popover,
.filters .amenities:hover .popover {
    display: block;
}
