.places {
    text-align: center;
}

.places article {
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    width: 390px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}

.places h1 {
    font-size: 30px;
    text-align: left;
}

.places h2 {
    font-size: 30px;
    text-align: center;
}
