<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/4-common.css">
    <link rel="stylesheet" href="../static/styles/3-header.css">
    <link rel="stylesheet" href="../static/styles/3-footer.css">
    <link rel="stylesheet" href="../static/styles/6-filters.css">
    <title>AirBnB_clone</title>
</head>
<body>
    <header></header>
    <div class="container">
        <section class="filters">
            <div class="locations">
                <h3>States</h3>
                <H4>&nbsp;</H4>
                <ul class="popover">
                    {% for state in states|sort_by_name %}
                        <li><STRONG>{{ state.name }}</STRONG>
                        <ul>
                            {% for city in city_in_state|sort_by_name %}
                                {% if state.id == city.state_id %}
                                    <li>{{ city.name }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="amenities">
                <h3>Amenities</h3>
                <H4>&nbsp;</H4>
                <ul class="popover">
                    {% for amenity in amenitys|sort_by_name %}
                        <li>{{ amenity.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <button>Search</button>
        </section>
    </div>
    <footer>
        Best School
    </footer>
</body>
</html>
